body{
  box-sizing:border-box;
}
*{
  margin:0;
  padding:0;
}
*:before,*:after{
  box-sizing: inherit;
}
.piano{
  background:rgb(1, 39, 65);
  padding:10px;
  display:flex;
  width:700px;
  height:300px;
}
.piano .key{
display:flex;
align-items: flex-end;
justify-content: center;
padding:5px;
}

.piano .white{
border:1px  solid #333;
background:white;
flex-basis:100px;

color:black;
}
.piano .black{
 
  background:black;
  height:200px;
  margin-left:-25px;
  margin-right:-25px;
  z-index:20000;
  flex-basis:50px;
  color:white;
  }
  .piano .white:hover,.active-white{
    opacity:0.7;
   }
   .piano .black:hover,.active-black{
    background:#444;
     opacity:0.8;
   
    }
   